/*Website normalization*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*Header*/
.flex-container1 {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
}

.flex-containerHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.imgHB {
    display: flex;
    width: 5rem;
    padding: 2%;
}

.flex-containerHeader>h1 {
    font-size: 4vw;
    justify-content: center;
    font-weight: 700;
    width: 100%;
}

/*Nav*/
.nav-display {
    background-color: #333;
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.nav-display>li {
    width: 100%;
}

.nav-item {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}

li .nav-item {
    display: block;
    color: #fff;
    text-decoration: none;
}

li>a:hover {
    background-color: #fff;
    color: #000;
}

li:hover {
    background-color: #fff;
}

/*Main*/
.fieldset {
    border-radius: 20px;
    border-style: solid;
    border-color: #333;
    border-width: 3px;
    background-color: #f2f2f2;
    padding: 5%;
    margin: 2% 20%;
}

.formulario {
    display: flex;
    flex-flow: column nowrap;

}
.formulario > h2 {
    font-size: 1rem;
    text-align: center;
}
.formulario > input {
    width: 100%;
}

textarea {
    width: 100%;
}

.submit > input {
    width: 55%;
    padding: 10px;
    margin: 1% 25%;
    border-radius: 20px;
    background-color: #333;
    color: white;
    border: none;
}
.submit > input:hover {
    background-color: #9aebd0;
    color: black;
}

.ubicacion{
    border-style: solid;
    border-color:  #333;
    background-color: #f2f2f2;
    border-radius: 20px;
    display: flex;
    flex-flow: row nowrap;
    margin: 2% 20%;
    align-items: center;
}
.ubicacion > iframe{
    justify-content: center;
    padding: 20px;
    width: 40%;
    height: 250px;
    border-radius: 30px;
}
.ubicacion > div{
    font-size: 2.5vw;
    margin-right: 10%;
    margin-left: 5%;
}


/*Footer*/
.flex-footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-evenly;
}

.redes {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    flex-flow: column nowrap;
    font-size: 1rem;
}

.redes>div {
    display: flex;
    justify-content: space-evenly;
}

/*Suscripcion*/
.suscripcion {
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    padding: 1rem;
}

.suscripcion-input {
    display: flex;
    justify-content: space-between;
}

.correo {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suscribirse {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suscribirse:hover {
    background-color: #63caa7;
}

.derechos {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/*Media queries*/
/* Small devices (600px) */
@media only screen and (max-width: 600px) {
    .imgHB {
        display: flex;
        width: 5rem;
        padding: 1%;
    }
    .flex-containerHeader {
        flex-flow: column nowrap;
    }
    .flex-containerHeader>h1 {
        display: none;
    }
    .nav-display {
        flex-flow: column nowrap;
    }
    .flex-main {
        flex-flow: column nowrap;
    }
    .nav-item {
        padding: 1%;
    }

    /*Footer*/
    .flex-footer {
        flex-flow: column nowrap;
        padding: 0.5rem;
    }
    .redes {
        width: auto;
    }
    .redes > div{
        margin: 1rem;
    }

    /*Suscripcion*/
    .suscripcion{
        width: auto;
    }
    .correo{
        width: 50%;
    }
    .suscribirse{
    width: 40%;
    }
    .fieldset{
        border-radius: 20px;
        background-color: #f2f2f2;
        padding: 5%;
        margin: 2% 5%;
    }
}

@media only screen and (max-width: 800px) {
    .ubicacion{
        margin: 0% 0%;
        border-radius: 0;
        border: none;
    }
    .ubicacion > iframe{
        width: 50%;
    }
    .ubicacion > div{
        font-size: 3.2vw;
    }
}