/*Website normalization*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*Header*/
.flex-container1 {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;  
}
.flex-containerHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.imgHB {
    display: flex;
    width: 5rem;
    padding: 2%;
}
.flex-containerHeader > h1 {   
    font-size: 4vw;
    justify-content: center;
    font-weight: 700;
    width: 100%; 
}
/*Nav*/
.nav-display {
    background-color: #333;
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-display > li {
    width: 100%;
}
.nav-item {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
li .nav-item {
    display: block;
    color: #fff;
    text-decoration: none;
}

li > a:hover {
    background-color: #fff;
    color: #000;
}
li:hover{
    background-color: #fff;
}


/* Main*/
.item-portada {
    background-image: url(../img/Index/mudanza_familia_felicidad.jpg);
    background-size: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    background-size: #333;
}
.flex-cont1{
    text-align: left;
    font-size: 2rem;
    padding-top: 8rem;
    padding-left: 2rem;
    font-weight: 300;
    color: #000;
    text-shadow: 1px 1px 10px;
}

.comenzar{
    background-color: #74706b;
    border: 2px solid #74706b;
    color: #000;
    width: 15%;
    padding: 10px;
    margin: 15% 18%;
    text-decoration: none;
    text-align: center;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 400;
    }
    
.comenzar:hover{
    background-color: #63caa7;
}

/*Section*/
.contFlex{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.item-main{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}
.flex-container2 {
    display: flex;
    flex-flow: column nowrap;
    margin: 0.5rem;
    width: 100%;
    align-items: center;
}
.imgsection{
    width: 8vw;
    background-color: #3333331f;
    padding: 2rem;
    border-radius: 50px;
}
.flex-container2 > h2 {
    font-size: 2.5vw;
    margin-top: 30%;
    font-weight: 100;
    text-align: center;
}

/*Aside*/
.item-aside1{
    background-image: url(../img/Index/AsideCodoaCodoVertical.png);
    background-size: 100%;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
}
.item-aside2{
    display: none;
}

/*IMG previo a footer*/
.item-img{
    width: 100%;
}

/*Footer*/
.flex-footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-evenly;
}
.redes {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    flex-flow: column nowrap;
    font-size: 1rem;
}
.redes > div{
    display: flex;
    justify-content: space-evenly;
}

/*Suscripcion*/
.suscripcion{
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    padding: 1rem;
}
.suscripcion-input{
    display: flex;
    justify-content: space-between;
}
.correo {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suscribirse {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.suscribirse:hover{
    background-color: #63caa7;
}
.derechos{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}


/*Media queries*/
/* Small devices (600px and up) */
@media only screen and (max-width: 600px) {
    .item-aside2 {
        background-image: url(../img/Index/codo_a_codo_horizontal.jpg);
        background-size: 100%;
        background-size: cover;
        background-position: center center;
        display: flex;
        flex-flow: column nowrap;
        width: 100%;
        height: 20vw;
        }
    .item-aside1{
        display: none;
    }
    .imgHB {
        display: flex;
        width: 5rem;
        padding: 1%;
    }
    .flex-containerHeader {
        flex-flow: column nowrap;
    }
    .flex-containerHeader>h1 {
        display: none;
    }
    .nav-display {
        flex-flow: column nowrap;
    }
    .flex-main {
        flex-flow: column nowrap;
    }
    .nav-item {
        padding: 1%;
    }

    /*Footer*/
    .flex-footer {
        flex-flow: column nowrap;
        padding: 0.5rem;
    }
    .redes {
        width: auto;
    }
    .redes > div{
        margin: 1rem;
    }

    /*Suscripcion*/
    .suscripcion{
        width: auto;
    }
    .correo{
        width: 50%;
    }
    .suscribirse{
    width: 40%;
    }

    .flex-cont1{
        font-size: 1.3rem;
        padding-top: 5rem;
        padding-left: 2.5rem;
    }
    .comenzar{
        background-color: #74706b;
        border: 2px solid #74706b;
        width: 20%;
        margin: 15% 15%;  
        font-size: .8rem;  
        }
    .comenzar:hover{
        background-color: #504f4f;
    }
    .imgsection{
        width: 10vw;
        border-radius: 35px;
    }
}
