/*Website normalization*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

/*Header*/
.flex-container1 {
    background-color: #333;
    color: white;
    text-align: center;
    display: flex;
    flex-flow: column nowrap;  
}
.flex-containerHeader {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.imgHB {
    display: flex;
    width: 5rem;
    padding: 2%;
}
.flex-containerHeader>h1 {   
    font-size: 4vw;
    justify-content: center;
    font-weight: 700;
    width: 100%; 
}
/*Nav*/
.nav-display {
    background-color: #333;
    font-size: 1rem;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
.nav-display > li {
    width: 100%;
}
.nav-item {
    text-decoration: none;
    color: #fff;
    padding: 1rem;
}
li .nav-item {
    display: block;
    color: #fff;
    text-decoration: none;
}

li > a:hover {
    background-color: #fff;
    color: #000;
}
li:hover{
    background-color: #fff;
}


/* Main*/
.grid-contenedor{
    display: grid;
    grid-template-columns: 65% 35%;
    background-color: #fff;
}

.flex-colum{
    display: flex;
    flex-flow: column nowrap;
}

.flex-colum > div{
    display: flex;
    flex-flow: column nowrap;
    background-color: #3333331f;
    margin: 1%;
    padding: 20px;
    border-radius: 20px;
}
.flex-colum > div > h2{
    font-size: 2.5vw;
    text-align: center;
    padding: 5px;
    text-shadow: 1px 1px 3px;
}
p{
    font-size: 1.6vw;
    text-align: center;
}
.img-foto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    padding: 5px;
    border-radius: 20px;
}

/*Footer*/
.flex-footer {
    background-color: #333;
    color: #fff;
    display: flex;
    flex-flow: row nowrap;
    text-align: center;
    justify-content: space-evenly;
}
.redes {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    flex-flow: column nowrap;
    font-size: 1rem;
}
.redes > div{
    display: flex;
    justify-content: space-evenly;
}

/*Suscripcion*/
.suscripcion{
    display: flex;
    flex-flow: column nowrap;
    width: 30%;
    padding: 1rem;
}
.suscripcion-input{
    display: flex;
    justify-content: space-between;
}
.correo {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.suscribirse {
    width: 50%;
    margin: 2%;
    padding: 0.5rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.suscribirse:hover{
    background-color: #63caa7;
}
.derechos{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/*Media queries*/
/* Small devices (600px) */
@media only screen and (max-width: 600px){
    .imgHB {
        display: flex;
        width: 5rem;
        padding: 1%;
    }
    .flex-containerHeader {
        flex-flow: column nowrap;
    }
    .flex-containerHeader>h1 {
        display: none;
    }
    .nav-display {
        flex-flow: column nowrap;
    }
    .flex-main {
        flex-flow: column nowrap;
    }
    .nav-item {
        padding: 1%;
    }

    /*Footer*/
    .flex-footer {
        flex-flow: column nowrap;
        padding: 0.5rem;
    }
    .redes {
        width: auto;
    }
    .redes > div{
        margin: 1rem;
    }

    /*Suscripcion*/
    .suscripcion{
        width: auto;
    }
    .correo{
        width: 50%;
    }
    .suscribirse{
    width: 40%;
    }
}

@media only screen and (max-width: 800px) {
    .img-foto{
        display: none;
    }
    .grid-contenedor{
        display: flex;
        flex-flow: row nowrap;
        background-color: #fff;
    }
    .flex-colum > div > h2{
        font-size: 4vw;
    }
    p{
        font-size: 2.55vw;
    }
}